{% extends 'base.html' %}

{% block contents %}

<h2>Information about job {{ job.job_id }}</h2>

{% if submitted %}
    <div class="alert alert-success" role="alert">Your job was successfully submitted.</div>
{% endif %}

{% if just_failed %}
    <div class="alert alert-danger" role="alert">Sorry - we failed to submit your job - please go back and try again.</div>
{% endif %}

<p>This is information about an existing job (and cannot be edited by a user). <a href="{% url 'job' job.job_id %}">Reload</a></p>

<form class="form-horizontal">

  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">User</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" value="{{ job.user.username }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="remote_id" class="col-sm-2 control-label">Remote Job ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="remote_id" value="{{ job.remote_job_id|default:'Not yet set' }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="variable" class="col-sm-2 control-label">Variable</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="variable" value="{{ job.variable }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="date_time" class="col-sm-2 control-label">Date time</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="date_time" value='{{ job.date_time|date:"Y-m-d H" }}' disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="input_file_path" class="col-sm-2 control-label">Input file path</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input_file_path" value='{{ job.input_file_path|default:"" }}' disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" {% if failed %}style="color: red;"{% endif %} id="status" value='{{ job.status }}' disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="download_url" class="col-sm-2 control-label">download_url</label>
    <div class="col-sm-10">
      {% if download_url %}
          <a href="{{ download_url }}">{{ download_url }}</a>
      {% else %}
          Only available if/when job completed.
      {% endif %}
    </div>
  </div>



</form>

{% endblock %}
